:root {
--title-text-color: #212121;
--white-color: #FFFFFF;
--paragraf-color: #757575;
--primary-accent-color:#2196F3;
--second-background-color: #2F303A;
--primary-background-color: #F5F5F5;
--text-color: #000000;

}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:var(--title-text-color);
    font-size:14px;
}

ul {
    list-style: none;
} /* -------Header-----------*/
.logo {
    font-family: Raleway;
    color: var(--primary-accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-header {
    color: var(--text-color);
}
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover ,
.site-nav .link:focus{
    color: var(--primary-accent-color);
}
.site-nav .link.current {
    color: var(--primary-accent-color)
}

.link {
    text-decoration: none ;
}

.auth-nav .auth-mail {
    color: var(--paragraf-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav .auth-tel {
    color: var(--paragraf-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav .auth-mail:hover,
.auth-nav .auth-mail:focus {
    color: #2196F3;
}
.auth-nav .auth-tel:hover,
.auth-nav .auth-tel:focus{
    color: #2196F3;
}

/*----------Hero--------------*/
.hero {
    background-color: var(--second-background-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color)
}
.button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--primary-accent-color);
    border: none;
}
.features-title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--title-text-color) ;
}
.features-heading {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-paragraf {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--paragraf-color);
}
.section-title {
   font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
    
.team .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
 }
 .team .team-paragraf {
     font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--paragraf-color)
 }
 /*---------Footer-------------*/
 .footer {
   background-color: var(--title-text-color);
}

 .logo-footer {
    font-family: 'Raleway';
    color: var(--primary-accent-color);
    letter-spacing: 0.03em;
    font-size:26px;
}

 .logo .logo-studio {
    color: var(--white-color);
 }

 .address .address-name {
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style:normal;
    color: var(--white-color);
 }
 .address .address-mail {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);;
 }
 .address .address-tel {
     font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
.address .address-mail:hover,
.address .address-mail:focus{
    color: var(--primary-accent-color);
}
.address .address-tel:hover,
.address .address-tel:focus{
    color: var(--primary-accent-color);
}


.button-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
     color: var(--title-text-color);
     border: none;
}
.button-portfolio:hover ,
.button-portfolio:focus  {
    color: var(--white-color);
    background-color: var(--primary-accent-color); 
}
 .galery-title {
     font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.galery-paragraf {
   font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
}
.visually-hidden {
    position:absolute;
    white-space:nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border:0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path:insest(50%);
    margin: -1px;
}
